<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.wikis.count, 'wiki') %>,
        </small>
      </div>
    </div>
  </div>
</div>
<% if no_user_wikis? %>
  <h4> Sadly, <%= @user.name %> has yet to create a single wiki. </h4>
<% else %>
  <h2>Wikis</h2>
  <%= render @user.wikis %>
<% end %>
