<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br>
      <% avatar_url = @user.avatar_url(128) %>
        <div class="pull-left">
          <%= image_tag avatar_url, class: 'pull-left' %>
        </div>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.email %></h2>
        <small>
          <%= pluralize(@user.wikis.count, 'wiki') %>,
        </small>
      </div>
    </div>
  </div>
</div>
<% if @user.wikis.count == nil || @user.wikis.count == 0 %>
  <h4> Sadly, <%= @user.email %> has yet to create a single wiki. </h4>
<% else %>
  <h2>Wikis</h2>
  <%= render @user.wikis %>
<% end %>
<% if current_user.user? %>
  <div class="col-md-4">
    <%= link_to "Upgrade to VIP Access", new_charge_path, class: 'btn btn-lg btn-success' %>
  </div>
<% end %>
<% if current_user.vip? %>
<div class="col-md-4">
  <%= button_to "Cancel VIP Access", charges_downgrade_path, method: :post, class: 'btn btn-lg btn-success' %>
</div>
<% end %>
