<div>
  <h1>
    <%= @wiki.title %> <br>
    <small>
      submitted <%= time_ago_in_words(@wiki.created_at) %> ago by <%= @wiki.user %>
    </small>
  </h1>
</div>
<div class="row">
  <div class="col-md-8">
    <p><%= @wiki.body %></p>
  </div>
  <div>
    <h3>Comments</h3>
    <div class="com">

    </div>
  </div>
  <div class="col-md-4">
    <% if current_user %>
      <%= link_to "Edit", wiki_path(@wiki), class: 'btn btn-success' %>
    <% end %>
    <% if current_user? %>
      <%= link_to "Delete Wiki", [@wiki], method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
    <% end %>
    <div class="col-md-4">


    </div>
  </div>
</div>
